<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>10_mvc</display-name>
	
  <servlet>
  	<servlet-name>dispatcher</servlet-name>
  	<servlet-class>org.springframework.mvc.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>controller</param-name>
  		<param-value>
		/board/list.do=kr.co.mlec.board.controller.ListController;
		/board/detail.do=kr.co.mlec.board.controller.DetailController;
		/board/updateForm.do=kr.co.mlec.board.controller.UpdateFormController;
		/board/update.do=kr.co.mlec.board.controller.UpdateController;
		/board/writeForm.do=kr.co.mlec.board.controller.WriteFormController;
		/board/write.do=kr.co.mlec.board.controller.WriteController;
		/board/delete.do=kr.co.mlec.board.controller.DeleteController;
		/board/commentRegist.do=kr.co.mlec.board.controller.CommentRegistController;
		/board/commentDelete.do=kr.co.mlec.board.controller.CommentDeleteController;
		/board/commentUpdate.do=kr.co.mlec.board.controller.CommentUpdateController;
		/board/commentList.do=kr.co.mlec.board.controller.CommentListController;
		/login/login.do=kr.co.mlec.login.controller.LoginController;
		/login/loginForm.do=kr.co.mlec.login.controller.LoginFormController;
		/login/logout.do=kr.co.mlec.login.controller.LogoutController;
		/main/main.do=kr.co.mlec.main.controller.MainController		
  		</param-value>
  	</init-param>
  </servlet>		
  
  <servlet-mapping>
	<servlet-name>dispatcher</servlet-name>  
	<url-pattern>*.do</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>