<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>

<script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.2.js" charset="utf-8"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- 네아로 Callback 페이지 처리 Script -->
<script type="text/javascript">

var naver_id_login = new naver_id_login("uhAftfrXFj4WLSj4v1Zi", "http://bit-hojohe.com:9090/mini1-team5/jsp/view/user/userCallback.jsp");
// 접근 토큰 값 출력
// alert(naver_id_login.oauthParams.access_token);
// 네이버 사용자 프로필 조회
naver_id_login.get_naver_userprofile("naverSignInCallback()");
	// 네이버 사용자 프로필 조회 이후 프로필 정보를 처리할 callback function
	function naverSignInCallback() {
		// naver_id_login.getProfileData('프로필항목명');
		// 프로필 항목은 개발가이드를 참고하시기 바랍니다.
		$("#id").val(naver_id_login.getProfileData('email'));
		$("#loginType").val("naver");
		$("#frm").submit();
	}
</script>

<form id="frm" action="${pageContext.request.contextPath}/user/login" method="post">
	<input type="hidden" name="id" id="id" />
	<input type="hidden" name="loginType" id="loginType" />
</form>
</body>
</html>